* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #2a2a72;
  padding: 80px 24px 0px 24px;
}

img {
  margin: auto;
  display: block;
}
